* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    user-select: none;
}

* i {
    font-size: 1em;
}

::-webkit-scrollbar {
    width: 0;
}

main {
    margin: 7vh 0 0 6vh;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(./../img/fondo.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.fab.fa-whatsapp {
    color: #25D366;
}

.fab.fa-instagram {
    color: #E4405F;
}

.fab.fa-facebook {
    color: #1877F2;
}

/* - - - ESTILOS HEADER - - - */

header {
    position: sticky;
    width: 100%;
    height: 15vh;
    top: 0;
    z-index: 100;
    background-color: #0b0e15;
}

.navLinks {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
}

.contImgCabecera {
    width: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2em;
}

.logocabecera {
    width: 12vh;
    height: auto;
}

.logocabecera img {
    width: 12vh;
    height: auto;
    display: block;
}

.contRedesMenu {
    width: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.contRedesMenu a {
    color: #f5f5f5;
}

.contItemsMenu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 1em;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
}

.contItemsMenu a {
    color: #f5f5f5;
}

.itemMenu {
    padding: 0 .9em;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
}

.ultItemMenu {
    border: none;
}

.navImgLogo,
.navIcon {
    display: none;
    pointer-events: none;
}

/* - - - ESTILOS MENU LATERAL - - - */

#menuToggle {
    display: none;
}

.contMenuLateral {
    width: 6vh;
    height: 100vh;
    position: fixed;
    top: 15vh;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #0b0e15;
    z-index: 90;
    transition: width 0.5s;
}

.contItems {
    overflow-y: scroll;
    padding: 0 0 15vh 0;
    text-align: end;
}

.contMenuLateral span {
    display: none;
}

#menuToggle:checked+.contMenuLateral {
    width: 200px;
}

#menuToggle:checked+.contMenuLateral span {
    display: block;
}

.contMenuLateral i {
    color: #f5f5f5;
}

.contMenuLateral a {
    text-decoration: none;
    color: #f5f5f5;
}

.menuBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
    background-color: #E73047;
    border-radius: 0 50px 50px 0;
    width: 100%;
}

#menuToggle:checked+.contMenuLateral .menuBtn {
    display: flex;
    justify-content: space-between;
}

.titleBrad {
    font-size: 1em;
    font-weight: bold;
}

.menuBtn i {
    margin-right: 2px;
    transition: transform .8s;
}

#menuToggle:checked+.contMenuLateral .menuBtn i {
    transform: rotate(180deg);
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#menuToggle:checked+.contMenuLateral .menu-item {
    display: flex;
    justify-content: end;
}

#menuToggle:checked+.contMenuLateral .menu-item a {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

#menuToggle:checked+.contMenuLateral .menu-item span {
    margin-right: 10px;
}


.menu-item i {
    background-color: rgba(151, 5, 24, 0.675);
    border-radius: 20%;
    padding: 10px;
}

/* - - - ESTILOS PARA CATEGORIAS - - - */

.sectionMenuCompleto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* // HAMBURGUESAS \\ */
.sectionCategoria {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15vw;
}

.contImg_Estructura2 {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: end;
    justify-content: start;
    overflow: hidden;
    margin-bottom: 15vh;
}

.hamburguesas {
    background-image: url(./../img/hamburgesasBanner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.nombreArticulo_Estructura2 {
    background-color: #e73048ec;
    text-transform: uppercase ;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 1.6em;
    width: 100%;
    padding: 0 1em;
}

.articulosComida {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: 2em;
    padding: 0 6em;
}


.articuloMenu_Estructura1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contImgTextMenu {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 1em 1em 0 0;
}

.contImgTextMenu img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 1em 1em 0 0;
    object-fit: cover;
}

.nombreArticulo_Estructura1 {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-left: 10px;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 1.6em;
    background-color: #330c1198;
}

.contDescArticulo_Estructura1 {
    height: calc(100% - 300px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1em;
    color: #6b3d3b;
}

.infoArticulo_Estructura1 {
    font-weight: bold;
    margin-bottom: .8em;
}

.acomArticulo {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: .8em;
}

.categoriaArticulo {
    margin-bottom: .5em;
    font-weight: bolder;
    color: #000000;
}

.contPrecioWhaArticulo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 60px;
    border-radius: 1em;
    box-shadow: 0 0 10px #c9c9c9;
}

.precioArticulo {
    text-align: center;
    font-weight: bolder;
    font-size: 1.2em;
    color: #0b0e15;
}

.divisorWhats {
    width: 2px;
    background-color: #fb6262;
    height: 60%;
    margin: 0 1vw;
}

.whaArticulo {
    border-radius: 1em;
    padding-right: 20px;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-11-16 12:17:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */

.jello-horizontal:hover {
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
}


@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.btnWhatsapp {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 1em;
    font-size: 1em;

}

.btnWhatsapp i {
    font-size: 1.2em;
}

.divisorWhats2 {
    width: 5px;
    margin: 0 10px;
    color: #b9b9b9;
}


/* // Perros \\ */

.perrotes {
    background-image: url(./../img/perroBanner.png);
    background-size: cover;
    background-position: center;
    width: 100%;
}

/*  // Para babear \\ */

.paraBabear {
    background-image: url(./../img/BabearBanner.png);
    background-size: cover;
    background-position: center;
    width: 100%;
}

/* // Paparrotas \\ */

.paparrotas {
    background-image: url(./../img/papasBanner.png);
    background-size: cover;
    background-position: center;
    width: 100%;
}

/*  //Sandwich\\ */

.sandwich {
    background-image: url(./../img/sandwichBanner.jpg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
}

/* // ChikenWings \\ */

.chikenWings {
    background-image: url(./../img/alitasBanner.png);
    background-size: cover;
    background-position: center;
    width: 100%;
}

/* // Parrilla \\ */

.parrilla {
    background-image: url(./../img/parillaBanner.png);
    background-size: cover;
    background-position: center;
    width: 100%;
}

/*  // Bradcitos \\ */

.bradcitos {
    background-image: url(./../img/niñosBanner.png);
    background-size: cover;
    background-position: center;
    width: 100%;
}

/* // Bebidas \\ */

.bebidas {
    background-image: url(./../img/bebidasBanner.png);
    background-size: cover;
    background-position: center;
    width: 100%;
}

.descArt2 {
    padding: 0 1em;
    font-size: 1em;
    color: #b9b9b9;
    margin-bottom: 1em;
}

/* // Adicionales \\ */

.adicionales {
    background-image: url(./../img/adicionalesBanner.png);
    background-size: cover;
    background-position: center;
    width: 100%;
}

.articulosComidaSimple {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: 3em;
    padding: 3em 0;
    background-color: #0b0e15;
    border-radius: 1em;
    color: #e2e2e2c5;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* // Celebra Con Brad \\ */


.celebraConBrad {
    background-image: url(./../img/festejarBanner.png);
    background-size: cover;
    background-position: center;
    width: 100%;
}

.contCelebraBrad {
    background-color: #0b0e15cf;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    margin: 0 3em;
    gap: 1em;
    border-radius: 1em;

}

.contImgCelebraBrad {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 1em;
    margin-bottom: 1em;
}

.contImgCelebraBrad img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.tituloCelebraBrad {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    color: #b9b9b9;
    margin-bottom: 1em;
    padding: .5em 1em;
}

.infoCelebraBrad {
    font-size: .7em;
    color: #b9b9b9;
    padding: .5em 1em;
    margin-bottom: 1em;
}

.categoriaArticulo {
    font-size: 1.2em;
    font-weight: bold;
    color: #b9b9b9;
    padding: .5em 1em;
    margin-bottom: 1em;
}

.btnWhatsappCelebra {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 1em;
    font-size: 1em;
}

.contPrecioWhaArticuloCelebra {
    background-color: #b9b9b9;
    box-shadow: 0 0 10px #0f131d;
}

/* - - - - - - FOOTER - - - - - - */

footer {
    width: 100%;
    height: 30vh;
    background-color: #0b0e15;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contFooter {
    width: 80%;
    margin-left: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoFooter {
    width: 20vh;
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoFooter img {
    width: 100%;
    height: auto;
    display: block;
}

.textoFooter {
    width: 70%;
    height: 100%;
    display: block;
    align-items: space-between;
    color: #E4405F;
    flex-wrap: wrap;
    font-size: 14px;
    text-align: end;
}

.infoFooter {
    color: #b9b9b9;
}

.textoFooter p {
    margin-bottom: 1em;
}


/* - - - REPONSIVE - - - */
@media screen and (max-width: 902px) {
    .contImgTextMenu {
        height: 450px;
    }
}

@media screen and (max-width: 807px) {
    
    .contImgTextMenu {
        height: 60vh;
    }

    .articulosComida {
        padding: 0 2em;
    }

}

@media screen and (max-width: 587px) {

    .navImgLogo,
    .navIcon {
        display: block;
        pointer-events: all;
    }

    .header {
        --icon1: scale(1);
        --icon2: scale(0);
    }

    .header:has(.navMenuHorizontal:target) {
        --icon1: scale(0);
        --icon2: scale(1);

        --clip: inset(0 0 0 0);

    }

    .header:has(.navMenuHorizontal:target) .navIcon {
        background-color: #0b0e15;
        border-radius: 1em 0 0 1em;
    }

    .navMenuHorizontal {
        position: fixed;
        width: 80%;
        height: 100%;
        background-color: #0b0e15;
        top: 0;
        right: 0;

        overflow-y: auto;

        clip-path: var(--clip, inset(0 0 0 100%));
        transition: clip-path 0.5s ease-in-out;
    }

    .contNavResponsive {
        width: 100%;
        height: 15vh;
        margin: 0 auto;

        display: grid;
        grid-template-columns: 90% 10%;
        grid-template-areas: "navImgLogo navIcon";
        align-items: center;
        background-color: #08080A;

        overflow: hidden;
    }

    .navImgLogo {
        width: 100%;
        height: 15vh;
        grid-area: navImgLogo;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navImgLogo img {
        width: 70%;
        height: 15vh;
        display: block;
    }

    .navIcon {

        display: flex;
        align-items: center;
        justify-content: center;


        grid-area: navIcon;
        color: #E4405F;
        position: relative;
        z-index: 100;

        transform: var(--icon1);
        transition: transform 0.2s;
        padding: 5px;
    }

    .navIconClose {
        transform: var(--icon2);
    }


    .navLinks {
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }

    .contImgCabecera {
        position: relative;
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(./../img/bannerHam.jpg);
        background-size: cover;
        background-position: center;
    }

    .logocabecera {
        position: absolute;
        bottom: -25%;
        background-color: #0b0e15;
        border-radius: 5em 5em 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 130px;
        height: 130px;
    }

    .logocabecera img {
        width: 115px;
        height: auto;
        display: block;
    }

    .contRedesMenu {
        width: 100%;
        flex-direction: row;
        margin-top: 2em;
    }

    .itemMenuRedes {
        padding: 0 1em;
        font-size: 1.4em;
    }

    .contItemsMenu {
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        border: none;
        margin: 0;
        border: none;
    }

    .itemMenu {
        width: 80%;
        text-align: center;
        padding: .5em;
        border-right: none;
        border-bottom: 2px dotted rgba(255, 255, 255, 0.5);
    }

    .ultItemMenu {
        border: none;
    }

    .contImgCelebraBrad {
        height: initial;
    }

    .logoFooter {
        width: 15vh;
    }

    .textoFooter {
        border-left: solid 1px #E4405F;
    }

}

@media screen and (max-width: 490px) {

    .contDescArticulo_Estructura1 {
        padding: 1em 0;
        width: 90%;
    }

    .articulosComida {
        padding: 1.5em;
        grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
    }

    .articulosComidaSimple {
        grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
    }

    .whaArticulo {
        padding-right: 10px;
    }
    .contImgTextMenu {
        height: 35vh;
    }

    .divisorWhats{
        display: none;
    }

    .precioArticulo{
        margin-right: 1em;
    }

    .contPrecioWhaArticulo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1em 0;
        margin-bottom: 2em;
        border-radius: 1em;
        box-shadow: 0 0 10px #c9c9c9;
        align-content: center;
        flex-wrap: wrap;
    }
    

}

/* ANIMACIONES */

.pulsate-fwd i:hover {
    -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
    animation: pulsate-fwd 0.5s ease-in-out infinite both;
    background-color: #E73047;
    transition: background-color 0.5s;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-12-1 10:24:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}